.navbar-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
    list-style: none;
    position: absolute;
    top: 1px;
    right: 1px;
    z-index: 2;
    backdrop-filter: blur(4px);
    padding: 1rem;
    background: var(--color-e-05);

    a {
        opacity: 1;
        outline: 0;
        line-height: 2rem;
        position: relative;
        text-align: center;
        letter-spacing: 2px;
        display: inline-block;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1rem;

        &:hover,
        &.active {
            &::after {
                opacity: 1;
                transform: translateY(0) rotateX(0);
            }

            &::before {
                opacity: 0;
                transform: translateY(50%) rotateX(90deg);
            }
        }

        &::after {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            display: block;
            transition: 0.5s;
            position: absolute;
            content: attr(data-back);
            transform: translateY(-50%) rotateX(90deg);
            color: var(--color-1);
            background: var(--color-e);
        }

        &::before {
            top: 0;
            left: 0;
            opacity: 1;
            display: block;
            padding: 0 1.75rem;
            line-height: 2.5rem;
            line-height: 2rem;
            transition: 0.5s;
            position: relative;
            content: attr(data-front);
            transform: translateY(0) rotateX(0);
            color: var(--color-e);
            background: var(--color-1);
        }
    }
}

.hamburger {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 3;
    width: 1.75rem;
    width: 2.75rem;
    width: 3.25rem;
    aspect-ratio: 1;
    position: fixed;
    right: calc(2.5rem + 1px);
    top: calc(2.5rem + 1px);
    padding: 0.75rem;
    background: var(--color-e-05);
    backdrop-filter: blur(4px);

    span {
        display: block;
        width: 100%;
        width: 1.75rem;

        height: 3px;
        border-radius: 1px;
        background-color: var(--color-8);
        border: 1px solid var(--color-1);
        position: absolute;
        transition: all 0.3s ease;

        &:nth-child(1) {
            top: 0.75rem;
        }
        &:nth-child(2) {
            top: 1.5rem;
        }
        &:nth-child(3) {
            top: 2.25rem;
        }
    }
}

.hamburger.open {
    background: none;
    backdrop-filter: blur(0px);

    span:nth-child(1) {
        transform: rotate(45deg);
        top: 1.5rem;
    }
    span:nth-child(2) {
        opacity: 0;
    }
    span:nth-child(3) {
        transform: rotate(-45deg);
        top: 1.5rem;
    }
}

@media (max-width: 800px) {
    .hamburger {
        display: block;
    }

    .navbar-wrapper {
        top: 1px;
        right: 1px;
        width: calc(100% - 2px);
        flex-direction: column;
        align-items: center;
        background: var(--color-e-05);
        transform: translateY(calc(-100% - 2rem));
        transition: transform 0.3s ease-in-out;
    }

    .navbar-wrapper.open {
        transform: translateX(0);
    }
}
