.network-links ul {
    margin-left: 1rem;
    display: flex;
    gap: 1.25rem;

    li {
        list-style: none;

        a {
            color: var(--color-0);
            display: flex;
            align-items: center;
            padding: 0.5rem;

            i {
                font-size: 2rem;
                padding-right: 1rem;
            }

            .tooltip {
                text-decoration: none;
                visibility: hidden;
                opacity: 0;
                width: 0px;
                overflow: hidden;
                text-wrap: nowrap;
                transition: all 0.5s;
            }
        }
    }
}

@media screen and (min-width: 40rem) {
    .network-links ul {
        margin-left: 5rem;

        li a {
            color: var(--color-7);
            transition: all 0.5s;

            &:hover {
                color: var(--color-0);
                text-shadow: 0 0 0.25rem var(--color-5);

                .tooltip {
                    visibility: visible;
                    opacity: 1;
                    width: 16rem;
                    text-wrap: nowrap;
                }

                .first-link {
                    width: 12rem;
                }
            }
        }
    }
}

@media screen and (max-width: 25rem) {
    .network-links ul {
        justify-content: space-between;
    }
}
