.scroll-indicator {
    position: fixed;
    top: 2.5rem;
    left: 2.5rem;
    width: calc(100% - 5rem);
    height: calc(100dvh - 5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.scroll-indicator::before {
    content: "";
    position: absolute;
    inset: 0.1rem; // scroll width
    z-index: -1;
    background: var(--color-e);
    background-size: cover;
    background-position: left;
}

.scroll-content-container {
    width: calc(100% - 2rem);
    height: calc(100% - 2rem);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    overflow-y: auto;
    overflow-x: hidden;
    z-index: -1;

    &::-webkit-scrollbar {
        width: 0px;
    }
}

@media (max-width: 600px) {
    .scroll-indicator::before {
        inset: 1px; // scroll width
        background-position: -6rem;
    }
}
