.work-page-links {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        gap: 3rem 4rem;
        flex-wrap: wrap;
        padding: 4rem 3rem;

        li a img {
            width: 100%;
            max-width: 28rem;
            object-fit: cover;
            border-bottom: 1px solid var(--color-c);
            border-right: 1px solid var(--color-c);
            box-shadow: 4px 4px 4px var(--color-c);
        }
    }
}

@media (max-width: 800px) {
    .work-page-links {
        ul {
            gap: 2rem;
            padding: 2em 1rem;
        }
    }
}
