.work-page-links {
    ul {
        list-style: none;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 3rem 4rem;
        padding: 4rem 3rem;

        li.card {
            width: 100%;
            max-width: 23rem;
            height: min-content;
            background: var(--color-f-01);
            padding: 0;
            transform-style: preserve-3d;
            box-shadow: 0.1rem 0.25rem 0.75rem var(--color-shadow);
            transition: height 0.5s ease-in-out;

            div.img-box {
                width: 100%;
                z-index: 1;
                position: relative;
                top: 0;
                left: 0;
                box-shadow: 0.1rem 0.25rem 0.75rem var(--color-shadow);
                transform-style: preserve-3d;
                transition: 0.5s ease-in-out;

                a img {
                    width: 100%;
                    margin-bottom: -0.6rem;
                }

                h3 {
                    background: var(--color-f);
                    border-top: 0.1rem solid var(--color-4);
                    border-bottom: 0.1rem solid var(--color-4);
                    text-align: center;
                    width: 70%;
                    position: absolute;
                    bottom: 0;
                    left: 15%;
                    box-shadow: 0.1rem 0.25rem 0.75rem var(--color-shadow);
                    overflow: hidden;
                    visibility: hidden;
                    opacity: 0;
                    height: 0px;
                    transition: all 0.3s ease-in-out;
                }
            }

            div.card-content {
                text-align: center;
                visibility: hidden;
                opacity: 0;
                height: 0px;
                transform: translateY(-4rem) scale(1);
                transition: all 0.5s ease-in-out;
            }

            &:hover {
                padding-bottom: 0.75rem;
                margin-top: 1rem;

                div.img-box {
                    top: -2rem;
                    left: 5%;
                    width: 90%;
                    transform: translate3d(0, 0, 2rem);

                    h3 {
                        height: 2rem;
                        visibility: visible;
                        opacity: 1;
                        bottom: -1rem;
                    }
                }

                div.card-content {
                    visibility: visible;
                    opacity: 1;
                    height: 2rem;
                    transform: translateY(-0.25rem) scale(1);
                }
            }
        }
    }
}

// MEDIA QUERY
@media (max-width: 800px) {
    .work-page-links {
        ul {
            gap: 3rem 2rem;
            padding: 3em 1rem;
        }
    }
}
