@import url(https://fonts.bunny.net/css?family=alex-brush:400|whisper:400|battambang:100,300,400,700,900|martel-sans:200,300,400,600,700,800,900);

/*
font-family: 'Alex Brush', handwriting;
font-family: 'Battambang', display;
font-family: 'Martel Sans', sans-serif;
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  background: none;
  text-decoration: none;
}

:root {
  font-size: 16px;
  font-family: 'Battambang', display;
  font-weight: 300;
}